<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User cards</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link href= "css/card.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" ng-model="search">
           <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
          </form> -->
          <ul class="navbar-nav mr-auto ml-4">
              <li class="nav-item">
                      <a class="nav-link" href="#!feedback">Feedback</a>
                    </li>
            </ul>
        <ul class='navbar-nav ml-auto'>
          <li class='nav-item'>
          <span class='navLinks'><a href="#/!">
              <!-- <i class='fas fa-sign-in-alt mr-2' ></i>Logout</a> -->
              <span ng-if="check_user()" style="list-style:none"><a href="#" class="button style" data-hover="Logout"  ng-click="logout()">Logout</a></span>
            </span>
          </li>
        </ul>
      </nav>

    <section style="padding-top: 75px;">
      
            <button class="btn btn-success btn-lg mb-4" ng-click="show()">Add new card</button>
            <div class="popeye-modal-container" ng-show="visible">
              <div class="popeye-modal">
                <a class="popeye-close-modal" ng-click="hide()"></a>
                <form name="addcard">
                  <div style="margin-bottom: 20px;" >
                      <input type="text" placeholder="Card name..." class="form-control" style="width: 350px" id="Name" name="Name" ng-model="card.Name" required>
                      <span style="color:red" ng-show="addcard.Name.$untouched ||addcard.Name.$error.required">Card name is required</span>
                      <br>  
                      <input type="text" placeholder="Card description..." class="form-control" style="width: 350px" id="Description" name="Description" ng-model="card.Description" required>
                      <span style="color:red" ng-show="addcard.Description.$untouched ||addcard.Description.$error.required">Description is required</span>
                      <br>
                      <!-- <label for= "Image" class = "mr-5">Card Image</label>
                      <input type = "file" accept="image/x-png , image/gif, imgae/jpeg" style= "width: 350px" id= "Image" name= "Image" ng-model="card.Image" > -->
                      <input type="text" placeholder="Card Image (link)..." class="form-control" style="width: 350px" id="Image" name="Image" ng-model="card.Image" required>
                      <span style= "color: red" ng-show="addcard.Image.$untouched || addcard.Image.$error.required">Image is required</span> 
                          <br>
                      <input type="text" placeholder="Card Barcode..." class="form-control" style="width: 350px" id="BarCode" name="BarCode"
                          ng-model="card.BarCode" required>
                          <span style="color:red" ng-show="addcard.BarCode.$untouched || addcard.BarCode.$error.required">BarCode is required</span>
                          <br>
                      
                      <input type="button" value="Add" class="btn btn-success" ng-click="addNewCard(); hide()" ng-disabled="addcard.$invalid" ng-required="accepted" >
                      
                      <input type="button" value="Close" class="btn btn-dark" ng-click="hide()">
                      <input type="button" value="Update" class="btn btn-warning" ng-click="update(); hide()">
                  </div>
                </form>
              </div>
            </div>
            

 <div class="row"> 
    <div class="col-xs-12 col-md-6 col-lg-3"   ng-repeat="x in myWelcome">
      <div class="card text-white bg-primary mb-3">
          <div class="card-header">{{x.Name}}</div>
          <div class="card-body">
            <h5 class="card-title">{{x.Description}}</h5>
            <p class="card-text">{{x.BarCode}}</p>
            <!-- <a href="#!slika"> -->
              <button class="btn btn-info btn-lg" ng-click="showImage(x._id)">View</button>
            <!-- </a> -->
            <button class="btn btn-danger btn-lg" ng-click="deleteCard(x._id) ">Remove</button>
            <button class="btn btn-warning btn-lg" ng-click="edit(x._id); show()">Edit</button>


          </div>
        </div>
    </div>
  </div>


  <div class="popeye-modal-container" ng-show="image" >
    <div class="popeye-modal">
      <a class="popeye-close-modal" ng-click="closeImage()"></a>
             <img src="{{test.Image}}" alt="{{test.Image}}"> 
      </div>
      </div>


    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


</body>
</html>