<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>another login panel</title>  
      <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="loginpanel" style="margin-top:350px;">
  <div class="txt">
    <input id="user" type="text" placeholder="Email" ng-model="log.email" />
    <label for="user" class="entypo-user"></label>
  </div>
  <div class="txt">
    <input id="pwd" type="password" placeholder="Password" ng-model="log.password" />
    <label for="pwd" class="entypo-lock"></label>
  </div>
  <div class="button">
    <span>
        <!-- <a href="#!card"> -->
          <input type="button" value="Login" />
       <!--  </a> -->
    </span>
    <span id="reg">
      <a href="#!register"  class="entypo-user-add register"  ><span style="font-size: 20px;">Register</span></a>
    </span>
  </div>
</body>

</html>