<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign Up Form with live validation</title>
  
  
  
      <link rel="stylesheet" href="css/style2.css">

  
</head>

<body>

  	

<form>
  <h2>Sign Up</h2>
		<p>
			<label for="Email" class="floatLabel">Email</label>
			<input id="Email" name="Email" type="text" ng-model="reg.email">
		</p>
		<p>
			<label for="password" class="floatLabel">Username</label>
			<input id="password" name="password" type="password" ng-model="reg.userName">
		</p>
		<p>
			<label for="confirm_password" class="floatLabel">Password</label>
			<input id="confirm_password" name="confirm_password" type="password" ng-model="reg.password">
		</p>
		<a href="#/!"  style="text-decoration: none">
			<p>
				<input type="button" value="Create My Account" id="submit" ng-click="registration()">
			</p>
		</a>
		<a href="#/!" style="text-decoration: none">
		<p>
			<input type="button" value="Have an account?">
		</p>
	</a>
	</form>

</body>

</html>
